.carousel {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    }
    
    .carousel li {
    flex: 1;
    }
    
    .carousel-container {
    width: 100%;
    overflow: hidden;
    }
    
    .carousel-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    }